<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Result</title>
    </head>
    <body>
        <ul>
            <p>아이디: <%= id %></p>
            <p>비밀번호: <%= pwd %></p>
            <p>이름: <%= username %></p>
            <p>나이: <%= age %></p>
        </ul>
        <img src="/<%= profileImagePath %>" alt="profile image" style="max-width: 400px; max-height: 400px" />
    </body>
</html>
