<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>26번 문제풀이</title>
    </head>
    <body>
        <h4><%= title %></h4>
        <%= console.log('title : ',title); %> <%= console.log('info : ',info); %>
        <h5>이름 : <%= info.username %></h5>
        <%= console.log('username : ',info.username); %>
        <h5>생년월일 : <%= info.birthYear %>년<%= info.birthMonth %>월<%= info.birthDay %>일</h5>
        <h5>성별 : <%= info.gender %></h5>
        <%= console.log('gender : ',info.gender); %>';
        <h5>관심사 : <%= info.hobby %></h5>
        <%= console.log('hobby : ',info.hobby); %>
    </body>
</html>
