<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h3>26번 문제 풀이</h3>
        <form action="/result26" method="get">
            <label for="username">이름</label>
            <input type="text" name="username" id="username" />
            <br />
            <fieldset>
                <legend>성별</legend>
                <input type="radio" id="male" name="gender" value="male" />
                <label for="radio">남자</label>
                <input type="radio" id="female" name="gender" value="female" />
                <label for="radio">여자</label>
            </fieldset>
            <br />
            <fieldset>
                <legend>생년월일</legend>
                <select name="birthYear" id="year">
                    <% for(let i=1990; i < 2023; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                <label for="year">년</label>

                <select name="birthMonth" id="month">
                    <% for(let i=1; i < 13; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                <label for="month">월</label>

                <select name="birthDay" id="day">
                    <% for(let i=1; i <= 31; i++) { %>
                    <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                <label for="day">일</label>
            </fieldset>
            <br />
            <fieldset>
                <legend>관심사</legend>
                <input type="checkbox" id="trip" name="hobby" value="trip" />
                <label for="trip">여행</label>
                <input type="checkbox" id="fashion" name="hobby" value="fashion" />
                <label for="fashion">패션</label>
                <input type="checkbox" id="food" name="hobby" value="food" />
                <label for="food">음식</label>
            </fieldset>
            <br />
            <button type="submit">회원가입</button>
        </form>
    </body>
</html>
